body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-image: url(../assets/pkmn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


    background-color: whitesmoke;
    padding: 1%;
    opacity: 80%;
    width: 100%;
    height: auto;

    img {
        width: 20%;
        height: 80%;
    }

    button {
        background-color: whitesmoke;
        border: none;
        color: orangered;
    }

    input {
        background-color: orangered;
        border: none;
        color: whitesmoke;
        margin-left: 1vw;
        border-radius: 2.5vw;
    }
    
    input::placeholder {
    text-align: center;
        color: whitesmoke;
    }
}

main {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    background-color: whitesmoke;
    opacity: 75%;
    width: 80%;
    height: auto;
    padding: 2.5%;

    .alingImage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        img {
            width: 15vw;
        }
    }
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}


.pokemon-card {
    background-color: transparent;
    border-radius: 2vw;
    padding: 2w;
    width: 15%;
    text-align: center;
    margin-top: 2vw;
    border: none;
    color: light;
}

.pokemon-card:hover {
    background-color: lightskyblue;
}


.pokemon-image {
    width: 10vw;
    height: auto;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {   
    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 17.5%;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 20%;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991px) {

    main{
        .alingImage {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
    
            img {
                width: 25vw;
            }
        }
    }

    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 27.5%;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }
 }


.pokemon-image {
    width: 15vw;
    height: auto;
}


  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px) {

    main{
        .alingImage {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
    
            img {
                width: 25vw;
            }
        }
    }

    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 27.5%;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }


.pokemon-image {
    width: 15vw;
    height: auto;
}
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    header{
        img {
            width: 30%;
            height: 80%;
        }
    }

    main{
        width: 95%;
        opacity: 0;
        .alingImage {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
    
            img {
                width: 40vw;
            }
        }
    }

    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 45%;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }


.pokemon-image {
    width: 25vw;
    height: auto;
}
 }